{
  "openapi": "3.0.3",
  "info": {
    "title": "LocalRoots API",
    "description": "API documentation for the **LocalRoots** application.\n\n**Authentication:** Most endpoints require the `api_key` header. If using Swagger UI, click the **Authorize** button at the top.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://observant-find-local-roots.base44.app/api",
      "description": "API server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/entities/Place": {
      "get": {
        "tags": ["Entities - Place"],
        "summary": "List Place records",
        "operationId": "list_Place",
        "description": "Retrieve a list of Place records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {"type": "string"},
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {"type": "integer", "default": 100},
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {"type": "integer", "default": 0},
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {"type": "string"},
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/Place"}
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Entities - Place"],
        "summary": "Create a Place record",
        "operationId": "create_Place",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/Place"},
              "example": {
                "name": "Historic Downtown",
                "category": "historical",
                "location": "Downtown Center",
                "description": "A historic area in the city center"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Place"}
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Entities - Place"],
        "summary": "Delete multiple Place records",
        "operationId": "delete_many_Place",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {"name": "Historic Downtown"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {"type": "boolean"},
                    "deleted": {"type": "integer"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Place/bulk": {
      "post": {
        "tags": ["Entities - Place"],
        "summary": "Bulk create Place records",
        "operationId": "bulk_create_Place",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {"$ref": "#/components/schemas/Place"}
              },
              "example": [
                {
                  "name": "Historic Downtown",
                  "category": "historical",
                  "location": "Downtown Center"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/Place"}
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Entities - Place"],
        "summary": "Bulk update Place records",
        "operationId": "bulk_update_Place",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {"$ref": "#/components/schemas/Place"}
              },
              "example": [
                {
                  "id": "507f1f77bcf86cd799439011",
                  "name": "Updated Name",
                  "category": "historical"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/Place"}
                }
              }
            }
          }
        }
      }
    },
    "/entities/Place/update-many": {
      "patch": {
        "tags": ["Entities - Place"],
        "summary": "Update many Place records by query",
        "operationId": "update_many_Place",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["query", "data"],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {"category": "historical"},
                "data": {"$set": {"category": "heritage"}}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {"type": "boolean"},
                    "updated": {"type": "integer"},
                    "has_more": {"type": "boolean"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Place/{Place_id}": {
      "get": {
        "tags": ["Entities - Place"],
        "summary": "Get a Place record by ID",
        "operationId": "get_Place",
        "parameters": [
          {
            "name": "Place_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string"},
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Place"}
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Entities - Place"],
        "summary": "Update a Place record",
        "operationId": "update_Place",
        "parameters": [
          {
            "name": "Place_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string"},
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/Place"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Place"}
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Entities - Place"],
        "summary": "Delete a Place record",
        "operationId": "delete_Place",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "Place_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string"},
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {"success": {"type": "boolean"}}
                }
              }
            }
          }
        }
      }
    },
    "/entities/Place/{Place_id}/restore": {
      "put": {
        "tags": ["Entities - Place"],
        "summary": "Restore a deleted Place record",
        "operationId": "restore_Place",
        "parameters": [
          {
            "name": "Place_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string"},
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Place"}
              }
            }
          }
        }
      }
    },
    "/entities/FeedbackResponse": {
      "get": {
        "tags": ["Entities - FeedbackResponse"],
        "summary": "List FeedbackResponse records",
        "operationId": "list_FeedbackResponse",
        "description": "Retrieve a list of FeedbackResponse records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {"type": "string"},
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {"type": "integer", "default": 100},
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {"type": "integer", "default": 0},
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {"type": "string"},
            "description": "Field name to sort by. Prefix with '-' for descending order"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/FeedbackResponse"}
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Entities - FeedbackResponse"],
        "summary": "Create a FeedbackResponse record",
        "operationId": "create_FeedbackResponse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/FeedbackResponse"},
              "example": {
                "tester_name": "John Doe",
                "rating": 5,
                "comments": "Great application!"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/FeedbackResponse"}
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Entities - FeedbackResponse"],
        "summary": "Delete multiple FeedbackResponse records",
        "operationId": "delete_many_FeedbackResponse",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {"tester_name": "John Doe"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {"type": "boolean"},
                    "deleted": {"type": "integer"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/FeedbackResponse/bulk": {
      "post": {
        "tags": ["Entities - FeedbackResponse"],
        "summary": "Bulk create FeedbackResponse records",
        "operationId": "bulk_create_FeedbackResponse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {"$ref": "#/components/schemas/FeedbackResponse"}
              },
              "example": [
                {
                  "tester_name": "John Doe",
                  "rating": 5
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/FeedbackResponse"}
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Entities - FeedbackResponse"],
        "summary": "Bulk update FeedbackResponse records",
        "operationId": "bulk_update_FeedbackResponse",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {"$ref": "#/components/schemas/FeedbackResponse"}
              },
              "example": [
                {
                  "id": "507f1f77bcf86cd799439011",
                  "tester_name": "Jane Doe"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/FeedbackResponse"}
                }
              }
            }
          }
        }
      }
    },
    "/entities/FeedbackResponse/update-many": {
      "patch": {
        "tags": ["Entities - FeedbackResponse"],
        "summary": "Update many FeedbackResponse records by query",
        "operationId": "update_many_FeedbackResponse",
        "description": "Update multiple records matching a query filter.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["query", "data"],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {"rating": {"$lt": 3}},
                "data": {"$set": {"status": "needs_review"}}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {"type": "boolean"},
                    "updated": {"type": "integer"},
                    "has_more": {"type": "boolean"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/FeedbackResponse/{FeedbackResponse_id}": {
      "get": {
        "tags": ["Entities - FeedbackResponse"],
        "summary": "Get a FeedbackResponse record by ID",
        "operationId": "get_FeedbackResponse",
        "parameters": [
          {
            "name": "FeedbackResponse_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string"},
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/FeedbackResponse"}
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Entities - FeedbackResponse"],
        "summary": "Update a FeedbackResponse record",
        "operationId": "update_FeedbackResponse",
        "parameters": [
          {
            "name": "FeedbackResponse_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string"},
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/FeedbackResponse"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/FeedbackResponse"}
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Entities - FeedbackResponse"],
        "summary": "Delete a FeedbackResponse record",
        "operationId": "delete_FeedbackResponse",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "FeedbackResponse_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string"},
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {"success": {"type": "boolean"}}
                }
              }
            }
          }
        }
      }
    },
    "/entities/FeedbackResponse/{FeedbackResponse_id}/restore": {
      "put": {
        "tags": ["Entities - FeedbackResponse"],
        "summary": "Restore a deleted FeedbackResponse record",
        "operationId": "restore_FeedbackResponse",
        "parameters": [
          {
            "name": "FeedbackResponse_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string"},
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/FeedbackResponse"}
              }
            }
          }
        }
      }
    },
    "/entities/User": {
      "get": {
        "tags": ["Entities - User"],
        "summary": "List User records",
        "operationId": "list_User",
        "description": "Retrieve a list of User records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {"type": "string"},
            "description": "JSON query filter, e.g. {\"role\":\"admin\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {"type": "integer", "default": 100},
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {"type": "integer", "default": 0},
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {"type": "string"},
            "description": "Field name to sort by"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/User"}
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Entities - User"],
        "summary": "Create a User record",
        "operationId": "create_User",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/User"},
              "example": {
                "email": "john@example.com",
                "full_name": "John Doe",
                "role": "user"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/User"}
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Entities - User"],
        "summary": "Delete multiple User records",
        "operationId": "delete_many_User",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {"role": "inactive"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {"type": "boolean"},
                    "deleted": {"type": "integer"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/User/bulk": {
      "post": {
        "tags": ["Entities - User"],
        "summary": "Bulk create User records",
        "operationId": "bulk_create_User",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {"$ref": "#/components/schemas/User"}
              },
              "example": [
                {
                  "email": "user@example.com",
                  "full_name": "New User",
                  "role": "user"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/User"}
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Entities - User"],
        "summary": "Bulk update User records",
        "operationId": "bulk_update_User",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {"$ref": "#/components/schemas/User"}
              },
              "example": [
                {
                  "id": "507f1f77bcf86cd799439011",
                  "full_name": "Updated Name",
                  "role": "admin"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/User"}
                }
              }
            }
          }
        }
      }
    },
    "/entities/User/update-many": {
      "patch": {
        "tags": ["Entities - User"],
        "summary": "Update many User records by query",
        "operationId": "update_many_User",
        "description": "Update multiple records matching a query filter.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["query", "data"],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {"role": "user"},
                "data": {"$set": {"role": "moderator"}}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {"type": "boolean"},
                    "updated": {"type": "integer"},
                    "has_more": {"type": "boolean"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/User/{User_id}": {
      "get": {
        "tags": ["Entities - User"],
        "summary": "Get a User record by ID",
        "operationId": "get_User",
        "parameters": [
          {
            "name": "User_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string"},
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/User"}
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Entities - User"],
        "summary": "Update a User record",
        "operationId": "update_User",
        "parameters": [
          {
            "name": "User_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string"},
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/User"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/User"}
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Entities - User"],
        "summary": "Delete a User record",
        "operationId": "delete_User",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "User_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string"},
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {"success": {"type": "boolean"}}
                }
              }
            }
          }
        }
      }
    },
    "/entities/User/{User_id}/restore": {
      "put": {
        "tags": ["Entities - User"],
        "summary": "Restore a deleted User record",
        "operationId": "restore_User",
        "parameters": [
          {
            "name": "User_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string"},
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/User"}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api_key"
      }
    },
    "schemas": {
      "Place": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier"
          },
          "name": {
            "type": "string",
            "description": "Name of the place"
          },
          "category": {
            "type": "string",
            "enum": ["historical", "cultural", "natural", "commercial", "residential"],
            "description": "Category of the place"
          },
          "location": {
            "type": "string",
            "description": "Geographic location"
          },
          "description": {
            "type": "string",
            "description": "Detailed description"
          },
          "latitude": {
            "type": "number",
            "description": "Latitude coordinate"
          },
          "longitude": {
            "type": "number",
            "description": "Longitude coordinate"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      },
      "FeedbackResponse": {
        "type": "object",
        "required": ["tester_name"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier"
          },
          "tester_name": {
            "type": "string",
            "description": "Name of the tester"
          },
          "rating": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5,
            "description": "Rating from 1 to 5"
          },
          "comments": {
            "type": "string",
            "description": "Feedback comments"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Tester email address"
          },
          "status": {
            "type": "string",
            "enum": ["new", "reviewed", "resolved"],
            "description": "Status of feedback"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      },
      "User": {
        "type": "object",
        "required": ["email", "full_name", "role"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email address"
          },
          "full_name": {
            "type": "string",
            "description": "Full name of the user"
          },
          "role": {
            "type": "string",
            "enum": ["admin", "moderator", "user"],
            "description": "User role"
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether the user is active"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      }
    }
  }
}
